<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/user/loadDashboard">
              <i class="mdi mdi-clipboard-text-outline menu-icon"></i>
              <span class="menu-title">User Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="mdi mdi-invert-colors menu-icon"></i>
              <span class="menu-title">Manage Camera</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/user/loadCamera">Add Camera</a></li>
                <li class="nav-item"> <a class="nav-link" href="/user/viewCamera">View Camera</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/viewDetection">
              <i class="mdi mdi-airplay menu-icon"></i>
              <span class="menu-title">View Detection</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
              <i class="mdi mdi-clipboard-text-outline menu-icon"></i>
              <span class="menu-title">Manage Complain</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/user/loadComplain">Post Complain</a></li>
                <li class="nav-item"><a class="nav-link" href="/user/viewComplain">View Complain</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
              <i class="mdi mdi-chart-donut menu-icon"></i>
              <span class="menu-title">Manage Feedback</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/user/loadFeedback">Post Feedback</a></li>
                <li class="nav-item"> <a class="nav-link" href="/user/viewFeedback">View Feedback</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>