<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>YoraUI Admin</title>
  <!-- base:css -->
  <link rel="stylesheet" href="../../static/adminResources/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../static/adminResources/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../static/adminResources/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../static/adminResources/image/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5 border">
              <div class="brand-logo">
                <img src="../../static/adminResources/image/logo.svg" alt="logo">
              </div>
              <h4>New here?</h4>
              <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>
              <form class="pt-3" action="/user/insertRegister" method="post">
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" id="registerTrafficPoliceStationName" name="registerTrafficPoliceStationName" placeholder="Traffic Police Station Name">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" id="registerAreaName" name="registerAreaName" placeholder="Area Name">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" id="registerContactNo" name="registerContactNo" placeholder="Contact No">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" id="registerAddress" name="registerAddress" placeholder="Address">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-lg" id="loginUsername" name="loginUsername" placeholder="Username">
                </div>
                <div class="mb-4">
                  <div class="form-check">
                    <label class="form-check-label text-muted">
                      <input type="checkbox" class="form-check-input">
                      I agree to all Terms & Conditions
                    </label>
                  </div>
                </div>
                <div class="mt-3">
                  <input type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" value="Register"/>
                </div>
                <div class="text-center mt-4 font-weight-light">
                  Already have an account? <a href="/" class="text-primary">Login</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- base:js -->
  <script src="../../static/adminResources/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="../../static/adminResources/js/off-canvas.js"></script>
  <script src="../../static/adminResources/js/hoverable-collapse.js"></script>
  <script src="../../static/adminResources/js/template.js"></script>
  <script src="../../static/adminResources/js/settings.js"></script>
  <script src="../../static/adminResources/js/todolist.js"></script>
  <!-- endinject -->
</body>

</html>
