<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="mdi mdi-clipboard-text-outline menu-icon"></i>
              <span class="menu-title">Admin Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/viewUser">
              <i class="mdi mdi-airplay menu-icon"></i>
              <span class="menu-title">Manage User</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="mdi mdi-invert-colors menu-icon"></i>
              <span class="menu-title">Manage Area</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/loadArea">Add Area</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/viewArea">View Area</a></li>
              </ul>
            </div>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="/admin/viewUser" aria-expanded="false" aria-controls="ui-advanced">
              <i class="mdi mdi-flask-outline menu-icon"></i>
              <span class="menu-title">Manage User</span>
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
              <i class="mdi mdi-clipboard-text-outline menu-icon"></i>
              <span class="menu-title">Manage Crossroad</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/admin/loadCrossroad">Add Crossroad</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/viewCrossroad">View Crossroad</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
              <i class="mdi mdi-chart-donut menu-icon"></i>
              <span class="menu-title">Manage Camera</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/loadCamera">Add Camera</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/viewCamera">View Camera</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-advanced" aria-expanded="false" aria-controls="ui-advanced">
              <i class="mdi mdi-flask-outline menu-icon"></i>
              <span class="menu-title">Manage Dataset</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-advanced">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/admin/loadDataset">Add Dataset</a></li>
                <li class="nav-item"> <a class="nav-link" href="/admin/viewDataset">View Dataset</a></li>
              </ul>
            </div>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="/admin/viewDetection" aria-expanded="false" aria-controls="tables">
              <i class="mdi mdi-grid-large //////////menu-icon"></i>
              <span class="menu-title">Manage Detection</span>
            </a>
          </li>-->
          <li class="nav-item">
            <a class="nav-link" href="/admin/viewDetection">
              <i class="mdi mdi-file-document-box-outline menu-icon"></i>
              <span class="menu-title">Manage Detection</span>
            </a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="/admin/viewComplain" aria-expanded="false" aria-controls="icons">
              <i class="mdi mdi-emoticon-outline menu-icon"></i>
              <span class="menu-title">Manage Complain</span>
            </a>
          </li>-->
          <li class="nav-item">
            <a class="nav-link" href="/admin/viewComplain">
              <i class="mdi mdi-airplay menu-icon"></i>
              <span class="menu-title">Manage Complain</span>
            </a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="/admin/viewFeedback" aria-expanded="false" aria-controls="maps">
              <i class="mdi mdi-map-outline menu-icon"></i>
              <span class="menu-title">Manage Feedback</span>
            </a>
          </li>-->
          <li class="nav-item">
            <a class="nav-link" href="/admin/viewFeedback">
              <i class="mdi mdi-airplay menu-icon"></i>
              <span class="menu-title">Manage Feedback</span>
            </a>
          </li>
        </ul>
      </nav>